$blue: #071685;
$blueTranspa: rgba(7, 22, 133, 0.5);
$yellow: #F7B610;
$yellowTranspa: rgba(247, 182, 16, 0.5);
$red:  #E30D2C;
$redTranspa: rgba(227, 13, 44, 0.22);
$gray: #E3DED5;
$grayTranspa: rgba(227, 222, 213, 0.5);
$negro: #0000;

.containerII{
    float:right;
    width: 49vw;
    height: 70vh;
    background-color: $redTranspa;  
    box-sizing: border-box;
    border-radius: 0px 30px 30px 0px;
    padding: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    
    .title-card{
        padding: 5%;
        text-align: center;
    }
    
    .letraListado{
        font-family: Bangers;
        font-style: normal;
        font-size: 28px;
        color: $blue;
        }
    
    .card{
        width: 80%;
        height: 80%;
        border: 1px solid;
        border-radius: 5px 5px 5px 5px;
        padding: 5%;
        .input-style{
            border: 1px solid #393939;
            border-radius: 5px 5px 5px 5px;
            color: #393939;
            font-size: 18px;
            padding: 6px;
            letter-spacing: 1px;
            word-spacing: 4px;
        }
        .section-button{
            padding-right: 20%;
            padding-top: 5%;

        .btn-submit{
            width: 85px;
            height: 44px;
            font-size: 20px;
            margin-left: 20%;
            border: 1px solid #F7B610;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            background-color: $yellow;
            color: $blue;
            text-align: center;
            }
        }
    }
   
}