<app-navbar></app-navbar>
<app-date></app-date>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Modificar datos del Usuario</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Correo:</label>
                    <input type="text" [(ngModel)]= "selectedUsers.email" name="email" placeholder="Email Usuario" class="form-control">
                </div>

                <!-- <div class="form-group">
                    <label for="">Es admin:</label>
                    <input type="text" [(ngModel)]= "selectedUsers.roles.admin" name="admin" placeholder="es admin(true o false)" class="form-control">
                </div> -->
                <button (click)="Actualizar(selectedUsers)" class="btn btn-danger">Actualizar</button>
            </form>
        </div>
    </div>
</div>
