<header>
    <app-milogo [hijoLogo]="padreLogo"></app-milogo>
    <section class="group-button">
        <button class="section-menu" (click)="listMenu()">Menu</button>
        <button class="section-menu"  (click)="listOrders()">Pedidos</button>
        <button class="section-menu" (click)="listUser()">Usuarios</button>
        <button class="section-menu"  (click)="listProducts()">Productos</button>    
    </section>
    <section >
        <button class="logout" (click)="logOut()">CERRAR SESIÓN</button>
    </section>
     
</header>
