<div>
    <div>
        <h6>List of Products</h6>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Type</th>
                    <th>date of Entry</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let product of productList">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.image}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.dateEntry}}</td>
                    <td>
                        <button  (click)="getProdId(product._id)" (click)="onEdit(product)">
                        <span class="iconify edit" data-inline="false" data-icon="ic:baseline-edit" style="font-size: 30px;"></span>
                        </button>
                        <button (click)="onDelete(product)">
                        <span class="iconify delete" data-inline="false" data-icon="ic:baseline-delete" style="font-size: 30px;"></span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
