<div>
    <div>
        <h6>List of Products</h6>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Type</th>
                    <th>date of Entry</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= "let product of productList">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.image}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.dateEntry}}</td>
                    <td>
                        <button  (click)="getProdId(product._id)" (click)="onEdit(product)">Edit</button>
                        <button (click)="onDelete(product)">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
