$blue: #071685;
$blueTranspa: rgba(7, 22, 133, 0.5);
$yellow: #F7B610;
$yellowTranspa: rgba(247, 182, 16, 0.5);
$red:  #E30D2C;
$redTranspa: rgba(227, 13, 44, 0.22);
$gray: #E3DED5;
$grayTranspa: rgba(227, 222, 213, 0.5);
$negro: #0000;


.containerI {
    float:left;
    width: 49vw;
    height: 70vh;
    background-color: $redTranspa;  
    box-sizing: border-box;
    border-radius: 30px 0px 0px 30px;

    .div-container-title{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 2%;
        .img-product{
            margin-right: 5%;
            height: 50px;
        }
        .letraListado{
            float:right;
            margin-top: 2%;
            font-family: Bangers;
            font-style: normal;
            font-size: 32px;
            color: $blue;
            }
        }
    
    .table{
        border-spacing: 10px;
        font-size: 20px;
        padding-left: 10%;
       
        .letraListadoSub{
            float:right;
            font-family: Bangers;
            font-style: normal;
            font-size: 32px;
            color: $blue;
            letter-spacing: 2px;
                }
                .borrar{
                    background-color: $yellowTranspa;
                  }
            
                  .editar{
                    background-color: $yellowTranspa;
                  } 
          }
}
