<section class="containerI">
    <div class="div-container-title">
        <img alt="img-product" class="img-product" src="https://user-images.githubusercontent.com/60799456/94722848-7f52cd80-031d-11eb-87ab-ebb182aefe14.png"/>
        <h6 class="letraListado">Productos</h6>
    </div>
        <table class="table">
            <thead >
                <tr class="letraListadoSub">
                    <th>NOMBRE</th>
                    <th >PRECIO</th>
                    <th >TIPO</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor= "let product of productList" >
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.type}}</td>
                    <td>
                        <button  class="editar" (click)="getProdId(product._id)" (click)="onEdit(product)">
                        <span class="iconify edit" data-inline="false" data-icon="ic:baseline-edit" style="font-size: 30px;"></span>
                        </button>
                        <button class="borrar" (click)="onDelete(product)">
                        <span class="iconify delete" data-inline="false" data-icon="ic:baseline-delete" style="font-size: 30px;"></span>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
   
</section>
