<section>
  <img alt="Angular Logo" class="logo" src="https://user-images.githubusercontent.com/60799456/92834412-9e55e380-f39f-11ea-985b-6f5a7233d081.png"/>
  </section>

    <form class="loginForm">
      <div class="warning-validator" *ngIf="isError">
        <strong> ⚠️ Por favor ingrese correctamente todos los campos </strong>
      </div>
        <input class= "inputLoginForm" type="email" [(ngModel)]="email" name="email" placeholder="Email"required="required"/>
        <input class= "inputLoginForm" type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required"/>
        <button class= "loginForm-button" type="submit" (click)="login()">Ingresar</button>
      </form>