<app-navbar [navbarHijo]="navbarPadre"></app-navbar>

<app-date></app-date>

<article class="articleButton">
    <button class="options-button" routerLink="/home" routerLinkActive="active">Desayuno</button>
    <button class="options-button" routerLink="/home" routerLinkActive="active">Almuerzo</button>
    <button class="options-button" routerLink="/orders" routerLinkActive="active">Pedidos</button>
</article>
<section class="box-container-orders">
    <article class="container-pedido">
        <p class="letraListado">LISTADO DE PEDIDOS</p>
    
        <table class="table-products">
          
        <div >
            <div  *ngFor="let order of orders"  class="card">
                <p>CLIENTE {{order.client}}</p>
                <div *ngFor="let product of order.products" class="order-detail">
                <td>{{product.product.name}}</td>
                <td>{{product.qty}}</td>
                </div> 
                    <div class="buttons">
                        <td >
                            <button class="borrar"  (click)="Delete(order)" >
                            <span class="iconify delete" data-inline="false" data-icon="ic:baseline-delete" style="font-size: 30px;"></span>
                            </button>
                         </td>
                    </div>
            </div> 
           
        </div>
     
    </table>
    </article>
</section>
